In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/years-of-experience-and-salary-dataset/Salary_Data.csv

In [2]:
data=pd.read_csv('/kaggle/input/years-of-experience-and-salary-dataset/Salary_Data.csv')

In [3]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

# Building Linear Regression Model from scratch

In [23]:
class LinearRegression():
    def __init__(self):
        self.num=0
        self.base=0
        self.slope=0
        self.intercept=0
    def fit(self,data1,data2):
        mean1=np.mean(data1)
        mean2=np.mean(data2)
        
        for i in range(len(data1)):
            self.num += (data1[i]-mean1)*(data2[i]-mean2)
            self.base += (data1[i] - mean1)**2
       
        self.slope +=self.num/self.base
        self.intercept+=mean2-(self.slope*mean1)
        return self
    def predict(self,test_x):
        func=self.slope*test_x+self.intercept
        return func

# Testing

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [32]:
x=data.iloc[:,0].values
y=data.iloc[:,1].values

trainx,testx,trainy,testy=train_test_split(x,y,test_size=0.2)

l=LinearRegression()

In [33]:
l.fit(trainx,trainy)
y_pred = l.predict(testx)
y_pred

array([116934.09987811, 125521.05892605,  82586.26368633,  55871.27998161,
        35835.04220307,  46330.21437278])

In [39]:
print(r2_score(testy,y_pred))

0.9685039989431106